# Unreal Engine Folders to Ignore
Binaries/
DerivedDataCache/
Intermediate/
Saved/
Build/

# Code and IDE Specific Files
.vscode/
.vs/
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace

# Ignore everything inside Content, except specific folders
Content/*
!Content/Bloodforged/

# Further ignore specific subfolders/files in Content/Bloodforged
Content/MetaHumans/
Content/YI_NPC/
Content/StarterContent/
Content/HealthPotionPack/
Content/AncientContent/
Content/Audio/
Content/Characters/
Content/Skeleton

# Add additional specific ignores or allows here if needed
